*{
    margin: 0;
    padding: 0;
}

.background-image{
    position:fixed;
    background-repeat: repeat-x repeat-y;
}

header{
    background-color: white;
    width: 100%;
    height: 100px;
    border-bottom: solid #cccccc 2px;
}

#logo{
    background-color: #4aaaa5;
    height: 100px;
    width: 250px;
    margin-left: 20%;
    float:left;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white; 
    padding-top: 25px ;
    padding-left: 18px;
}

ul{
    float:left;
    list-style: none;
    padding-top: 40px;
    position: absolute;
    right: 20%;
}

li{
    float:left;
    margin-left: 15px;
    margin-right: 15px;
}

#divider{
    border-right:solid 1px #cccc;
    border-left:solid 1px #cccc;
    padding: 0 25px;
}

a.one{
    color: #777777;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

a.one:hover{
    color: #4aaaa5;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

a.one:active{
    color: #4aaaa5;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    position: relative;
    background-color: white;
    max-width:60%;
    height: auto;
    margin: 50px 20%;
    padding: 25px;
}

#clearfix {
    content: "";
    clear: both;
    display: table;
}

#box-header{
    height: 60px;
    border-bottom: #ccc solid 2px;
    padding-top: 10px;
}

h2{
    color: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 24pt;
}

.grid{
    position: relative;
    float: left;
}

.img_container{
    width: 300px;
    height: 300px;
    overflow: hidden;
    float: left;
    position: relative;
    margin-top: 25px;
    margin-right: 25px;
}

img{
    position: absolute;
    width: auto;
    height: 100%;
}

img.vertical{
    position: absolute;
    width: 100%;
    height: auto;
}

.banner{
    position: absolute;
    width: 300px;
    height: 50px;
    top: 200px;
    text-align: center;
    background-color: #4aaaa5;
    padding-top: 20px;
}

.banner:hover{
    background-color: #777777;
}

a.two{
    color: white;
    font-size: 18pt;
    text-decoration: none;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #777777;
}

footer{
    width: 100%;
    height: 80px;
    background-color: #666666;
    border-top: solid 8px #4aaaa5;
    position: static;
    bottom: 0;
}

#copyright{
    text-align: center;
    padding-top: 25px;
    color: white;
}